# dependencies
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/
/test-results/
/playwright-report/

# env
.env
.env.local
.env.*.local
deploy/gcp/.env.gcp

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
/target/

# clerk configuration (can include secrets)
/.clerk/
